<div class="main_content" xmlns="http://www.w3.org/1999/html">
  <div class="welcome_box">
    <h2></h2>
  </div>

</div>


<div class="tiles">
  <div class="welcome_box">
    <h2>Development and Management Tools</h2>
  </div>

</div>

<div class="tiles">


  <div class="signup_content">

    <a href="/reset_password">
      <div class="tile tile_brown">  l
              <span class="tile_large_text">
                click
              </span>
      </div>
    </a>
    <a href="/login">
    <button type="submit" class="btn ok"><span class="line"></span>Login</button>
    </a>

  </div>
</div>