<!DOCTYPE HTML>
<html>
<head>
  <title>Uhuru Cloud Commander</title>
</head>

<body>
    <div id="site_header">
      <div class="contact_menu">
        <input readonly="true" type="url" id="target_input" class="target_input" value="Uhuru cloud commander" />
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

</body>
</html>