/* color scheme address: http://colorschemedesigner.com/#2S627scqqcOho */


/************************************************************************/
/*Body and default settings*/
/************************************************************************/
*{
    margin: 0;
    padding: 0;
    font-family: Tahoma, Arial, sans-serif;
    color: #000000;
}

body
{
    text-align: center;
    background-color: #111;
    font-size: 12px;
}

#error,
#wrapper
{
    margin-top: 5px;
    padding-bottom: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.hidden
{
    display: none;
}

a
{
    text-decoration: underline;
}
/************************************************************************/
/*Help Section
/************************************************************************/

.help_div
{
    margin-top: 10px;
    position: relative;
    float: right;
    width: 200px;
    top: 0px;
    padding: 3px;
}

.help_header
{
    border: 1px solid #306DA7;
    background: #0A3660;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

.help_div h4
{
    padding-top: 10px;
}

/************************************************************************/
/*Middle of the web-page, the actual content*/
/************************************************************************/
.actual_body
{
    border: 1px solid #306DA7;
    background-color: #ffffff;
    color: #000000;
    min-height: 400px;
    width: 100%;
    overflow: auto;
}

.actual_body_header
{
    background: #0A3660;
    color: #fff;
    border:1px solid #033E6B;
    text-align: right;
    height: 28px;
}

.actual_body_header span
{
    color: #fff;
}

.actual_body_footer
{
    border: 1px solid #306DA7;
    border-top: none;
    background: #0A3660;
    color: #fff;
    padding: 3px;
    text-align: center;
}

/************************************************************************/
/*The div for the 404 page*/
/************************************************************************/

#error
{
    height: 300px;
}

/************************************************************************/
/*Error messages*/
/************************************************************************/

.error
{
    color: #D22719;
}

/************************************************************************/
/*Page Loading Spinner*/
/************************************************************************/

.page_loading
{
    padding-top: 3px;
    padding-right: 5px;
}

.page_loading span
{
    vertical-align: top;
}

/************************************************************************/
/*Header (Title) text*/
/************************************************************************/

.header
{
    padding-top: 10px;
    padding-bottom: 10px;
}

h1
{
    color: white;
    font-weight: normal;
    font-size: 20px;
    display: inline-block;
}

h2
{
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
    padding-top: 30px;
}

h2 a
{
    color: white;
}

.header_user
{
    vertical-align: bottom;
    display: inline-block;
    float: right;
    color: #ffffff;
}

.header_user div
{
    color: #cccccc;
    text-align: right;
    font-size: 11px;
}

/************************************************************************/
/*Main menu*/
/************************************************************************/

#main_menu
{
    height: 24px;
}

.main_menu
{
    padding: 0 15px 0 0;
    list-style: none;
    z-index: 1;
}

.main_menu > li
{
    float: left;
    display: inline-block;
    margin-left: 5px;
}

.main_menu > li.right
{
    float: right;
    margin-left: 5px;
}


.main_menu > li > a
{
    margin-top: 1px;
    display: inline-block;
    border-color: #2BB944;
    border-style: solid solid none solid;
    border-width: 1px;
    text-decoration: none;
    padding: 4px 10px 4px 10px;
    background: #13A12C;
    font-weight: bold;
    color: #ffffff;
}
.main_menu > li > a:hover

{
    margin-top: 0;
    background:#2BB944;
    border-color:#3CB952;
    padding-bottom: 5px;
}

.main_menu > li > a.selected
{
    margin-top: 0;
    background: #0A3660;
    border-color: #306DA7;
    padding-bottom: 6px;
}

/************************************************************************/
/*Flashing versions*/
/************************************************************************/

.notify_on
{
    background-color: #0A3660 !important;
    border-color: #033E6B !important;
}

.notify_off
{
    background-color: #13A12C !important;
    border-color: #2BB944 !important;
}

/************************************************************************/
/*Buttons*/
/************************************************************************/

.bottom_buttons_div
{
    width: 600px;
    text-align: center;
    position: relative;

    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    /*background-color: #06246f;*/
}

input[type=submit],
input[type=button]
{
    background: #195289;
    color: #fff;
    border: 1px solid #306DA7;
    padding: 2px 10px 2px 10px;
}

input[type=submit]:hover,
input[type=button]:hover
{
    cursor: pointer;
    background: #306DA7;
    border-color: #3E74A7;
}


/************************************************************************/
/*Input controls*/
/************************************************************************/

input[type=text],
input[type=password],
textarea
{
    border: 1px solid #dddddd;
    padding: 2px;
    width: 200px;
}

textarea
{
    height: 50px;
}

/************************************************************************/
/*Text Effects*/
/************************************************************************/
.bold
{
    font-weight: bold;
}

.highlight
{
    color: #306DA7;
}

/************************************************************************/
/*Login Page*/
/************************************************************************/

.login_div
{
    margin: 100px auto;
    display: table;
}

.login_content
{
    border: 1px solid #306DA7;
    padding: 5px 10px 5px 10px;
    overflow: auto;
}

.login_footer
{
    text-align: right;
    color: red;
}


.login_div input[type=text],
.login_div input[type=password]
{
    font-size: 12px;
    width: 250px;
    padding: 5px;
}

.login_div label
{
    display: block;
    font-size: 15px;

}

.login_button
{
    margin-top: 10px;
    float: right;
}

/************************************************************************/
/*BOSH Log Output Text Effects*/
/************************************************************************/

.isa_success,
.isa_warning,
.isa_error
{
    border: 1px solid;
}
.isa_success
{
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning
{
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error
{
    color: #D8000C;
    background-color: #FFBABA;
}

.log_div
{
    border:1px solid #cccccc;
    border-bottom: none;
    border-right: none;
    overflow-y: scroll;
    overflow-x: scroll;
    width: 750px;
    height:300px;
    padding: 5px;
}

.log_div,
.log_div div,
.log_div span
{
    font-size:11px;
    font-family: Courier New;
    line-height: 18px;
}

.log_status
{
    line-height: 32px;
}

.log_status a
{
    vertical-align: top;
}

.log_status span
{
    padding-left: 5px;
    font-size: 16px;
    vertical-align: top;
}

/************************************************************************/
/*BOSH Progress Bar Effects*/
/************************************************************************/
.progress_out
{
    width: 80px;
    height: 16px;
    border: 1px solid #0A3660;
    display: inline-block;
    vertical-align: top;
}

.progress_in
{
    height: 16px;
    background: #306DA7;
    display: inline-block;
    vertical-align: top;
}

.progress_in.p0 { width: 4px; }
.progress_in.p1 { width: 8px; }
.progress_in.p2 { width: 12px; }
.progress_in.p3 { width: 16px; }
.progress_in.p4 { width: 20px; }
.progress_in.p5 { width: 24px; }
.progress_in.p6 { width: 28px; }
.progress_in.p7 { width: 32px; }
.progress_in.p8 { width: 36px; }
.progress_in.p9 { width: 40px; }
.progress_in.p10 { width: 44px; }
.progress_in.p11 { width: 48px; }
.progress_in.p12 { width: 52px; }
.progress_in.p13 { width: 56px; }
.progress_in.p14 { width: 60px; }
.progress_in.p15 { width: 64px; }
.progress_in.p16 { width: 68px; }
.progress_in.p17 { width: 72px; }
.progress_in.p18 { width: 76px; }
.progress_in.p19 { width: 80px; }
