/* color scheme address: http://colorschemedesigner.com/#2S627scqqcOho */


/************************************************************************/
/*Cloud menu CSS - Manage/Virtual Machines/etc. */
/************************************************************************/
.cloud_menu
{
    float: left;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: -24px;
    height: 0;
}

.cloud_menu > li
{
    float: left;
    display: inline-block;
    margin-left: 5px;
}

.cloud_menu > li > a
{
    margin-top: 1px;
    display: inline-block;
    background: #195289;
    color: #fff;
    border-color: #306DA7;
    border-style: solid solid none solid;
    border-width: 1px;
    text-decoration: none;
    padding: 4px 10px 4px 10px;
    font-weight: bold;
}

.cloud_menu > li > a:hover
{
    margin-top: 0;
    background:#306DA7;
    border-color:#3E74A7;
    padding-bottom: 5px;
}

.cloud_menu > li > a.tab_focus
{
    margin-top: 0;
    background: #0A3660;
    border-color: #306DA7;
    padding-bottom: 5px;
}

.cloud_title
{
    padding: 5px;
}

/************************************************************************/
/*Cloud sub-menu CSS - Network/Resource Pools/etc. */
/************************************************************************/

.left_cloud_menu
{
    display: inline-block;
    width: 130px;
    vertical-align: top;
}

.cloud_configuration_form
{
    display: inline-block;
    width: auto;
    vertical-align: top;
}

.cloud_menu.sub_menu
{
    top: 0;
    height: auto;
    display: block;
    margin-left: 0;
}

.cloud_menu.sub_menu > li
{
    clear: both;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

.cloud_menu.sub_menu > li a
{
    display: inline;
}

.cloud_menu.sub_menu > li a.error
{
    background-color: #D22719;
    border-color: #DF554A;
}

.cloud_menu.sub_menu > li a.error:hover
{
    background-color: #DF554A;
    border-color: #DF554A;
}

.cloud_menu.sub_menu > li a.tab_focus.error
{
    background-color: #B51D11;
    border-color: #DF554A;
}

.cloud_menu.sub_menu > li span
{
    display: inline-block;
    width: 15px
}

/************************************************************************/
/*Simple page content div
/************************************************************************/
.simple_page_content_div
{
    width: 770px;
    float: left;
    vertical-align: top;
    padding-top: 20px;
    padding-left: 20px;
}

.content_with_form_header
{
    display: inline-block;
    width: 750px;
}

.content_with_form_header div
{
    padding: 5px;
    vertical-align: bottom;
}

.content_with_form_header form,
{
    padding: 5px;
}

/************************************************************************/
/*Clouds List Tab
/************************************************************************/

.content_with_form_header > #create_cloud_form
{
    width: 750px;
}

.settings_table.clouds
{
    width: 750px;
    padding-top: 20px;
}

.cloud_state
{
    border: 1px solid;
    padding: 2px;
    text-align: center;
}

.cloud_state.deployed
{
    color: #4F8A10;
    background-color: #DFF2BF;
}

.cloud_state.saved
{
    color: #195289;
    background-color: #AED0EF;
}


.cloud_state.deploying
{
    color: #9F6000;
    background-color: #FEEFB3;
}

.cloud_state.not_configured,
.cloud_state.error
{
    color: #D8000C;
    background-color: #FFBABA;
}

/************************************************************************/
/*Configuration Tables
/************************************************************************/

.settings_table
{
    width: 620px;
}

.settings_table tr:hover
{
    background: #eeeeee;
}

.settings_table_header > td
{
    color: #fff;
    font-weight: normal;
    border: 1px solid #ccc;
    text-align: left;
    padding: .09em .543em;
    background: #999;
    vertical-align: bottom;
}

td.cell_border
{
    border-left: 1px solid #ccc;
    padding: 2px;
}

td.cell_border.cell_border_bottom
{
    border-bottom: 1px solid #ccc;
}

td.border_right
{
    border-right: 1px solid #ccc;
}

.separator
{
    padding-top: 20px;
    font-weight: bold;
}

.local.changed
{
    background-color: #FEEFB3;
}

/************************************************************************/
/*Cloud Summary*/
/************************************************************************/

.cloud_summary h2
{
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 5px;
}

.cloud_summary h3
{
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 3px;
}

.cloud_summary hr
{
    margin-bottom: 10px;
    color: #ccc;
    background-color: #ccc;
    border: none;
    height: 1px;
}

/************************************************************************/
/*Internal Logs
/************************************************************************/
.settings_table.internal_logs
{
    width: 750px;
}

.settings_table.internal_logs textarea
{
    width: 350px;
    height: 30px;
}

.log_level
{
    border: 1px solid;
    padding: 2px;
    text-align: center;
}

.log_level.trace,
.log_level.info
{
    color: #4F8A10;
    background-color: #DFF2BF;
}

.log_level.warn
{
    color: #9F6000;
    background-color: #FEEFB3;
}

.log_level.fatal,
.log_level.error
{
    color: #D8000C;
    background-color: #FFBABA;
}

/************************************************************************/
/*BOSH Tasks
/************************************************************************/
.bosh_state
{
    border: 1px solid;
    padding: 2px;
    text-align: center;
}

.bosh_state.done
{
    color: #4F8A10;
    background-color: #DFF2BF;
}

.bosh_state.processing
{
    color: #9F6000;
    background-color: #FEEFB3;
}

.bosh_state.timeout,
.bosh_state.error
{
    color: #D8000C;
    background-color: #FFBABA;
}

.settings_table.tasks
{
    width: 750px;
    padding-top: 0;
    margin-left: 0;
}

.tasks_overflow_div
{
    height: 500px;
    overflow-y: scroll;
}

#open_task_id
{
    width: 150px;
}

.content_with_form_header > #form_task_jump,
.content_with_form_header > #form_tasks_filter
{
    float: left;
    width: 370px;
    margin-right: 5px;
}

.more_tasks_button_footer
{
    padding: 5px;
    float: right;
}


/************************************************************************/
/*VM State DIV
/************************************************************************/

.job_state
{
    border: 1px solid;
    padding: 2px;
    text-align: center;
}

.job_state.running
{
    color: #4F8A10;
    background-color: #DFF2BF;
}

.job_state.failing,
.job_state.unresponsive_agent
{
    color: #D8000C;
    background-color: #FFBABA;
}

/************************************************************************/
/*Infrastructure Page
/************************************************************************/
.settings_table.infrastructure
{
    width: 750px;
}

/************************************************************************/
/*Users Page
/************************************************************************/
.settings_table.users
{
    width: 750px;
    padding-top: 20px;
}


/************************************************************************/
/*Offline Services Page
/************************************************************************/

.offline
{
    padding-top: 170px;
    text-align: center;
    font-size: 20px;
    color: #0A3660;
}

.file_upload_field
{
    display:none;
    position:absolute;
    top:0;
    left:0;
}

/************************************************************************/
/*Monitoring (Nagios) Page
/************************************************************************/

.nagios_directions
{
    padding-bottom: 10px;
}

.nagios_directions > span
{
    vertical-align: top;
    font-size: 16px;
}

.nagios_image_link
{
    text-decoration: none;
}

.nagios_directions > span > a > img
{
    height: 20px;
}



/************************************************************************/
/*Versions Page
/************************************************************************/

.versions_div
{
    width: 700px;
    padding-top: 10px;
    overflow-y: hidden;
    margin: 0px auto;
    padding-bottom: 100px;
}

.versions_table
{
    width: 650px;
    margin: 10px 10px 20px 10px;
}

.versions_table .remote_only
{
    color: #bbbbbb;
}

.versions_table .local,
.versions_table .local_preparing
{
    color: #306da7;
}

.versions_table .available,
.versions_table .deployed
{
    color: #13a12c;
}

.versions_table .td_versions
{
    width: 30px;
}

.versions_table .td_descriptions
{
    width: 300px;
}

.versions_table .td_state
{
    width: 80px;
}

.versions_table .td_actions
{
    width: 140px;
}

.table_title
{
    font-size: 18px;
    padding-left: 10px;
    color: #306DA7;
}

.versions_table tbody tr td:last-child
{
    height: 40px;
}
.versions_table tbody tr td:first-child,
tr td:last-child {
    text-align: right;
}

.versions_table tbody tr td {
    border: 1px solid #dddddd;
    padding: 1px 5px 1px 5px;
}

.versions_table thead tr td
{
    text-align: left;
}

.versions_table .info_box
{
    display:none;
    width: 200px;
    border: 1px solid black;
    background-color: #fafad2;
    position: absolute;
    top: 20px;
    left: -200px;
    text-align: left;
    padding: 5px;
    z-index: 100;
}

.action_buttons
{
    display: block;
    position: relative;
    float: right;
    margin-right: 5px;
    cursor: pointer;
    width: 17px;
    height: 17px;
    border: 0 !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;m;
}

.action_buttons:hover
{
    border: 0 !important;
    background-color: transparent !important;
}

.action_buttons.info {
    background-image: url('/icons/info.png');
}

.action_buttons.download,
.action_buttons.download:hover
{
    background-image: url('/icons/download.png');
}

.action_buttons.delete,
.action_buttons.delete:hover
{
    background-image: url('/icons/delete.png');
}

.action_buttons.upload,
.action_buttons.upload:hover
{
    background-image: url('/icons/upload.png');
}

.progress_message
{
    font-size: 10px;
    color: #bbbbbb;
}
progress
{
    background-color: #dddddd;
    width: 100px;
    height: 8px;
    margin: auto;
}
progress.hidden
{
    display: none;
}

/* ensure all browsers */
progress::-webkit-progress-bar
{
    background-color: #dddddd;
}
progress::-webkit-progress-value
{
    background-color: #033e6b;
}