/* color scheme address: http://colorschemedesigner.com/#2S627scqqcOho */


/************************************************************************/
/*Cloud menu CSS - Manage/Virtual Machines/etc. */
/************************************************************************/
.cloud_menu
{
    float: left;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: -24px;
    height: 0px;
}

.cloud_menu > li
{
    float: left;
    display: inline-block;
    margin-left: 5px;
}

.cloud_menu > li > a
{
    margin-top: 1px;
    display: inline-block;
    background: #195289;
    color: #fff;
    border-color: #306DA7;
    border-style: solid solid none solid;
    border-width: 1px;
    text-decoration: none;
    padding: 4px 10px 4px 10px;
    font-weight: bold;
}

.cloud_menu > li > a:hover
{
    margin-top: 0;
    background:#306DA7;
    border-color:#3E74A7;
    padding-bottom: 5px;
}

.cloud_menu > li > a.tab_focus
{
    margin-top: 0;
    background: #0A3660;
    border-color: #306DA7;
    padding-bottom: 5px;
}


/************************************************************************/
/*Cloud sub-menu CSS - Network/Resource Pools/etc. */
/************************************************************************/

.cloud_menu.sub_menu
{
    top: 0px;
    margin-left: 5px;
    z-index: 1;
    display: inline;
}

.cloud_menu.sub_menu > li
{
    clear: both;
    display: block;
    margin-top: 5px;
}

/************************************************************************/
/*Cloud Management div
/************************************************************************/

.cloud_tab_manage_div
{

}

/************************************************************************/
/*Configuration Tables
/************************************************************************/

.settings_table
{
    padding-top: 20px;
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.settings_table_header > td
{
    color: #fff;
    font-weight: normal;
    border-style: solid;
    border-width: .09em;
    border-color: #ccc;
    text-align: left;
    padding: .09em .543em;
    background: #999;
    vertical-align: bottom;
}

td.cell_border
{
    border-left: 1px solid #ccc;
    padding: 2px;
}

.separator
{
    padding-top: 20px;
    font-weight: bold;
}

/************************************************************************/
/*Tab Content DIVs
/************************************************************************/

.tab_divs
{
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
}

/************************************************************************/
/*VM State DIV
/************************************************************************/
.job_state_running
{
    font-weight: bold;
    color: #13A12C;
}

.job_state_failing
.job_state_unresponsive_agent
{
    font-weight: bold;
    color: #D22719;
}

/************************************************************************/
/*Offline Services Page
/************************************************************************/

.offline
{
    padding-top: 170px;
    text-align: center;
    font-size: 25px;
    color: #0A3660;
}

.file_upload_field
{
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
}