<div class="tab_divs" id="advanced_div">
  <div class="middle_div">
    <textarea></textarea>

    <div class="bottom_buttons_div">
      <input name="save_advanced" type="button" value="Save" />
      <input name="test_advanced" type="button" value="Test" />
      <input name="update_advanced" type="button" value="Update" />
    </div>
  </div>

  <div class="help_div">
    <h3>Dummy text dummy text</h3>
    <p>Dummy text dummy texttext dummy texttext dummy texttext dummy texttext dummy texttext dummy texttext dummy text</p>
  </div>
</div>