<div class="tab_divs" id="networking_div">
  <div class="middle_div">

    <table class="clouds_table">
        <tr class="first_row">
          <td>Name</td>
          <td>Status</td>
          <td>Services</td>
          <td>Frameworks</td>
        </tr>
		
        <tr>
          <td><a href="/clouds/configure" style="color: #ffffff;">Dev</a></td>
          <td>sts</td>
          <td>ico</td>
          <td>framework</td>
        </tr>
        <tr>
          <td>Prod</td>
          <td>sts</td>
          <td>ico</td>
          <td>framework</td>
        </tr>
    </table>

    <div class="bottom_buttons_div">
      <input name="create_cloud" type="button" value="Create Cloud" id="create_cloud" />
    </div>

  </div>

  <div class="help_div">
    <h3>Dummy text dummy text</h3>
    <p>Dummy text dummy texttext dummy texttext dummy texttext dummy texttext dummy texttext dummy texttext dummy text</p>
  </div>
</div>