<div class="downloading_page">
  <div class="downloading_page_div">

    <div>
      <span>The file will be downloaded to your machine.</span>
    </div>

    <div>
      <progress id="download_progressbar" max="100" value="0" />
    </div>

    <div>
      <span id="download_value"><%= progress %>%</span>
    </div>

  </div>
</div>

<script type="text/javascript">
  var current_value = <%= progress %>

  refresh = setInterval(
      function(){
              $.post('download_state',
                  { product: '<%= product %>', version: '<%= version %>' },
                  function(data)
                  {
                      $('#download_progressbar').attr('value', parseInt(data));
                      $('#download_value').html(parseInt(data) + '%');
                  }
              );
      }, 1000
  );


</script>