<div class="simple_page_content_div">

  <form method="post" action="/infrastructure" onsubmit="return confirmForm()">

    <div id="cpi_div">
      <table class="settings_table infrastructure">
        <tr class="settings_table_header">
          <td>Description</td>
          <td>Local value</td>
          <td>Live value</td>
        </tr>

        <% form.screens.each do |screen| %>
            <% screen.fields.each do |field| %>
                <%= erb(:config_row, :layout => false, :locals => {:field => field, :value_type => value_type}) %>
            <% end %>
        <% end %>
      </table>
    </div>

    <div class="bottom_buttons_div">
      <input name="btn_update"
             type="submit"
             value="Update"
             id="update_networking_btn"
             class="update"
             onclick="setConfirm('Are you sure you want to update the infrastructure? This operation may take a few hours.'); showPageLoading();" />
    </div>

  </form>
</div>