<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <title>Uhuru Cloud Commander</title>
  <link rel="stylesheet" href="../../css/layout.css" type="text/css" />
  <link rel="stylesheet" href="../../css/views.css" type="text/css" />
  <meta charset="utf-8" />
</head>

<body>
<div id="wrapper">
  <div id="header"><h1>Uhuru Cloud Commander</h1></div>
  <div class="actual_body">
    <form action="/login" method="post">
      <span class="field_error"><%= error_message %></span>
      <table class="settings_table">
        <tr>
          <td>
            <label for="username">Username:</label>
          </td>
          <td>
            <input type="text" name="username" id="username"/>
          </td>
        </tr>
        <tr>
          <td>
            <label for="password">Password:</label>
          </td>
          <td>
            <input type="password" name="password" id="password"/>
          </td>
        </tr>
      </table>
      <div class="bottom_buttons_div">
        <input type="submit" name="Submit" value="Login">
      </div>
    </form>
  </div>
  <div class="actual_body_footer">Copyright &copy; 2013 Uhuru Software, Inc., All Rights Reserved</div>
</div>
</body>
</html>