<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <title>Uhuru Cloud Commander</title>
  <link rel="stylesheet" href="../../css/layout.css" type="text/css" />
  <link rel="stylesheet" href="../../css/views.css" type="text/css" />
  <meta charset="utf-8" />
</head>

<body style="text-align: center;">
<div id="wrapper">
  <div id="header"><h1>Uhuru Cloud Commander</h1></div>
  <div class="actual_body">
    <form action='/login' method="post">
      <% if (defined? path) && (path != nil) %>
        <input type="hidden" name="path" value="<%= path%>" />
      <% end %>
      <div class="login_div">
        <div class="login_content">
          <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" autofocus=""/>
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password"/>
          </div>
          <div>
            <input class="login_button" type="submit" name="Submit" value="Login" />
          </div>
        </div>
        <div class="login_footer">
          <%= error_message %>
        </div>
      </div>
    </form>
  </div>
  <div class="actual_body_footer">Copyright &copy; 2013 Uhuru Software, Inc., All Rights Reserved</div>
</div>
</body>
</html>