
<div class="simple_page_content_div">
  <div id="logDiv" class="log_div">
  </div>
  <div class="log_status">
    <div id="log_loading">
      <img src="/images/loading.gif" alt="Processing ..." /><span>Processing ...</span>
    </div>
    <div id="log_missing" class="hidden">
      <img src="/images/missing.png" alt="Log source does not exist anymore." /><span>Log source does not exist anymore.</span>
    </div>
    <div id="log_stop" class="hidden">
      <img src="/images/completed.png" alt="Task completed." />
      <span>Task completed.</span>
      <span id="log_stop_action"></span>
    </div>
    <div id="log_paused" class="hidden">
      <img src="/images/broken.png" alt="Can't reach server." /><span>Can't grab data from server - check your connection.</span>
    </div>
  </div>
</div>

<script type="text/javascript" src="/scripts/base64.js" ></script>

<script type="text/javascript">
    var logDiv = document.getElementById("logDiv");
    var lastHeight = -1;
    var scrollToEnd = true;
    var logData = "";
    var lastUpdateContent = "";
    var timerId = null;

    var colorLineFeedRegex = new RegExp(/\n[^\n\r]*\r/g);
    var colorLineBreakRegex = new RegExp(/\n/g);
    var colorX20Regex = new RegExp(/\x20/g);
    var colorEndRegex = new RegExp(/\*\*\*color_out_end\*\*\*/g);
    var colorGreenRegex = new RegExp(/\*\*\*color_out_start_green\*\*\*/g);
    var colorRedRegex = new RegExp(/\*\*\*color_out_start_red\*\*\*/g);
    var colorYellowRegex = new RegExp(/\*\*\*color_out_start_yellow\*\*\*/g);


    logDiv.onscroll = function () {
        if (scrollToEnd && !(logDiv.scrollTop >= 0.95 * (logDiv.scrollHeight - logDiv.clientHeight))) {
            scrollToEnd = false;
        }
        else {
            if (logDiv.scrollTop >= 0.95 * (logDiv.scrollHeight - logDiv.clientHeight)) {
                scrollToEnd = true;
            }
        }
    }

    function setLogStatusVisible(status_div)
    {
        $("#log_loading").hide();
        $("#log_missing").hide();
        $("#log_paused").hide();
        $("#log_stop").hide();

        $("#" + status_div).show();
    }

    function loadXMLDoc(url) {

        var request = $.ajax(
                {
                    url: url,
                    type: 'GET',
                    cache: false,
                    error: function(data)
                    {
                        setLogStatusVisible("log_paused");
                    },
                    success: function(response)
                    {
                        var instructions = request.getResponseHeader('X-Commander-Log-Instructions');

                        if (instructions == 'continue' || instructions == 'stop')
                        {
                            setLogStatusVisible("log_loading");

                            var newText = response;
                            if (newText !== '')
                            {

                                logData = logData + newText;
                                var replacedText = logData;

                                var replaced = true;

                                while (replaced)
                                {
                                    replaced = false;
                                    replacedText = replacedText.replace(colorLineFeedRegex, function(token) { replaced = true; return "\n"; });
                                }

                                replacedText = replacedText.replace(colorLineBreakRegex, "<br/>");

                                replacedText = replacedText.replace(colorX20Regex, "&nbsp;");
                                replacedText = replacedText.replace(colorEndRegex, "</span>");
                                replacedText = replacedText.replace(colorGreenRegex, "<span class='isa_success'>");
                                replacedText = replacedText.replace(colorRedRegex, "<span class='isa_error'>");
                                replacedText = replacedText.replace(colorYellowRegex, "<span class='isa_warning'>");

                                for (var i = 1; i <= 20; i++)
                                {
                                    var pb_raw_done = new Array(i).join('o');
                                    var pb_raw_remaining = new Array(20 - (i - 1)).join('&nbsp;');
                                    var pb_raw = '\\|' + pb_raw_done + pb_raw_remaining + '\\|';

                                    replacedText = replacedText.replace(new RegExp(pb_raw, 'g'), "<span class='progress_out'><span class='progress_in p" + (i - 1).toString() + "'></span></span>");
                                }

                                if (lastUpdateContent !== replacedText)
                                {
                                    logDiv.innerHTML = replacedText;
                                    lastUpdateContent = replacedText;
                                }

                                var currentHeight = logDiv.scrollHeight;
                                if (lastHeight != currentHeight && scrollToEnd) {
                                    logDiv.scrollTop = currentHeight;
                                    lastHeight = logDiv.scrollTop;
                                }
                            }

                            if (instructions == 'stop')
                            {
                                setLogStatusVisible("log_stop");
                                document.getElementById("log_stop_action").innerHTML = Base64.decode(getParameterByName("done"));
                                clearInterval(timerId);
                            }
                        }
                        else if (instructions == 'missing')
                        {
                            setLogStatusVisible("log_missing");
                            clearInterval(timerId);
                        }
                        else
                        {
                            setLogStatusVisible("log_paused");
                        }
                    }
                });
    }

    timerId = setInterval(function () {
        loadXMLDoc("/screen/<%= screen_id %>");
    }, 2000);
</script>