
<div class="log_box">
  <div id="logDiv" class="log_div">
  </div>
  <img src="/loading.gif" alt="Loading..." />
</div>

<script type="text/javascript">
    var logDiv = document.getElementById("logDiv");
    var lastHeight = -1;
    var scrollToEnd = true;

    logDiv.onscroll = function () {
        if (scrollToEnd && !(logDiv.scrollTop >= 0.95 * (logDiv.scrollHeight - logDiv.clientHeight))) {
            scrollToEnd = false;
        }
        else {
            if (logDiv.scrollTop >= 0.95 * (logDiv.scrollHeight - logDiv.clientHeight)) {
                scrollToEnd = true;
            }
        }
    }


    function loadXMLDoc(url) {
        var xmlhttp;
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }

        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {

                var existingText = logDiv.innerHTML;
                var newText = xmlhttp.responseText;

                existingText = existingText + newText;
                var replacedText = "";

                while (existingText !== replacedText)
                {
                    replacedText = existingText;
                    existingText = existingText.replace(/\n[^\n\r]*\r/g, "<br>\n");
                }
                replacedText = replacedText.replace(/(<br>)+/g, "<br>");
//                replacedText = replacedText.replace(/<br\/>\n/g, "____PLACEHOLDER_EXISTING_BREAKS____");
//                replacedText = replacedText.replace(/\n/g, "<br />\n");
//                replacedText = replacedText.replace("____PLACEHOLDER_EXISTING_BREAKS____", "<br />");


//                var newContent = document.createElement('div');
//                newContent.innerHTML = xmlhttp.responseText;
                logDiv.innerHTML = replacedText;

//                var newScripts = newContent.getElementsByTagName('script');
//                for (var ix = 0; ix < newScripts.length; ix++) {
//                    eval(newScripts[ix].text);
//                }


                var currentHeight = logDiv.scrollHeight;
                if (lastHeight != currentHeight && scrollToEnd) {
                    logDiv.scrollTop = currentHeight;
                    lastHeight = logDiv.scrollTop;
                }
                // alert(logDiv.scrollTop +  " " + logDiv.scrollHeight + " " + logDiv.clientHeight)
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }

    setInterval(function () {
        loadXMLDoc("/screen/<%= screen_id %>");
    }, 1000);
</script>
