
<div class="simple_page_content_div">
  <div id="logDiv" class="log_div">
  </div>
  <div class="log_status">
    <div id="log_loading">
      <img src="/images/loading.gif" alt="Processing ..." /><span>Processing ...</span>
    </div>
    <div id="log_missing" class="hidden">
      <img src="/images/missing.png" alt="Log source does not exist anymore." /><span>Log source does not exist anymore.</span>
    </div>
    <div id="log_stop" class="hidden">
      <img src="/images/completed.png" alt="Task completed." />
      <span>Task completed.</span>
      <span id="log_stop_action"></span>
    </div>
    <div id="log_paused" class="hidden">
      <img src="/images/broken.png" alt="Can't reach server." /><span>Can't grab data from server - check your connection.</span>
    </div>
  </div>
</div>

<script type="text/javascript" src="/scripts/base64.js" ></script>

<script type="text/javascript">
    var logDiv = document.getElementById("logDiv");
    var lastHeight = -1;
    var scrollToEnd = true;
    var logData = "<div>";
    var timerId = null;

    function lineFeed()
    {
        $.each($('.remove_me'), function(index, value)
                {
                    var element = value.parentNode;
                    if (element.tagName == 'SPAN')
                    {
                        element.parentNode.parentNode.removeChild(element.parentNode);
                    }
                    else
                    {
                        element.parentNode.removeChild(element);
                    }
                }
        );
    }

    logDiv.onscroll = function () {
        if (scrollToEnd && !(logDiv.scrollTop >= 0.95 * (logDiv.scrollHeight - logDiv.clientHeight))) {
            scrollToEnd = false;
        }
        else {
            if (logDiv.scrollTop >= 0.95 * (logDiv.scrollHeight - logDiv.clientHeight)) {
                scrollToEnd = true;
            }
        }
    }

    function setLogStatusVisible(status_div)
    {
        $("#log_loading").hide();
        $("#log_missing").hide();
        $("#log_paused").hide();
        $("#log_stop").hide();

        $("#" + status_div).show();
    }

    function loadXMLDoc(url) {

        var request = $.ajax(
                {
                    url: url,
                    type: 'GET',
                    cache: false,
                    error: function(data)
                    {
                        setLogStatusVisible("log_paused");
                    },
                    success: function(response)
                    {
                        var instructions = request.getResponseHeader('X-Commander-Log-Instructions');

                        if (instructions == 'continue' || instructions == 'stop')
                        {
                            setLogStatusVisible("log_loading");

                            var newText = response;
                            if (newText !== '')
                            {
                                logData = logData + newText;
                                logDiv.innerHTML = logData + "</div>";
                                lineFeed();

                                var currentHeight = logDiv.scrollHeight;
                                if (lastHeight != currentHeight && scrollToEnd) {
                                    logDiv.scrollTop = currentHeight;
                                    lastHeight = logDiv.scrollTop;
                                }
                            }

                            if (instructions == 'stop')
                            {
                                setLogStatusVisible("log_stop");
                                document.getElementById("log_stop_action").innerHTML = Base64.decode(getParameterByName("done"));
                                clearInterval(timerId);
                            }
                        }
                        else if (instructions == 'missing')
                        {
                            setLogStatusVisible("log_missing");
                            clearInterval(timerId);
                        }
                        else
                        {
                            setLogStatusVisible("log_paused");
                        }
                    }
                });
    }

    timerId = setInterval(function () {
        loadXMLDoc("/screen/<%= screen_id %>");
    }, 2000);
</script>