<div class="simple_page_content_div">

  <div class="nagios_directions">
    <span>
      Monitoring is handled by
      <a href="/nagios" target="_blank" class="nagios_image_link">
        <img src="/images/nagios.png" alt="Open Nagios" />
      </a>
      <br />
      Click <a href="/nagios" target="_blank">here</a> to open the monitoring site.
    </span>
  </div>
</div>