<div class="tab_divs">

  <div class="middle_div">

    <table class="tasks_table">
      <tr class="first_row">
        <td>Task ID</td>
        <td>Status</td>
      </tr>

      <tr>
        <td>1234567</td>
        <td>Running</td>
      </tr>
      <tr>
        <td>1234566</td>
        <td>Done</td>
      </tr>
      <tr>
        <td>1234565</td>
        <td>Failed</td>
      </tr>
      <tr>
        <td>1234564</td>
        <td>Done</td>
      </tr>
    </table>

    </div>

  <div class="help_div">
    <h3>Dummy text dummy text</h3>
    <p>Dummy text dummy texttext dummy texttext dummy texttext dummy texttext dummy texttext dummy texttext dummy text</p>
  </div>
</div>

