<div class="simple_page_content_div">

  <div class="content_with_form_header">

    <form action="/users" method="post">
    <fieldset>
        <legend>Create a new user</legend>
        <div>
          <label for="create_user_name">Name</label>
          <input name="create_user_name" type="text" id="create_user_name" autocomplete="off" />
          <label for="create_user_password">Password</label></td>
          <input name="create_user_password" type="password" id="create_user_password" autocomplete="off" />
          <input name="btn_create_user" type="submit" value="Create User" id="create_user" class="create" />
        </div>
      </fieldset>
    </form>
  </div>

  <table class="settings_table users">
    <form action="/users" method="post" onsubmit="return confirmForm()">
      <tr class="settings_table_header">
        <td>Name</td>
        <td></td>
        <td></td>
      </tr>
      <% users.each do |user| %>
          <tr>
            <td><%= user %></td>
            <td>
              <input name="new_password" type="password" id="new_password"/>
              <input name="btn_change_password_<%= user %>" type="submit" value="Reset password" id="change_password" class="change_password"/>
            </td>
            <td>
              <input name="btn_delete_user_<%= user %>"
                     type="submit"
                     value="Delete User"
                     id="delete_user"
                     onclick="setConfirm('Are you sure you want to delete this user?');"
                     class="delete"/>
            </td>
          </tr>
      <% end %>
    </form>
  </table>

  <span style="vertical-align: bottom;"><%= message %></span>
</div>