<!DOCTYPE HTML>
<html lang="en">

    <head>
      <title>Uhuru Blobstore Interface</title>
      <link rel="stylesheet" href="/css/style.css" type="text/css" />
      <meta charset="utf-8" />
      <script type="text/javascript" src="/scripts/jquery-1.5.js"></script>
    </head>

    <body>
        <div id="wrapper">
          <header>
            <a href="/"><h1>Uhuru Blobstore Interface</h1></a>
          </header>

          <div class="content">

            <%= yield %>

          </div>


          <footer>
            Copyright &copy; 2013 Uhuru Software, Inc., All Rights Reserved
          </footer>
        </div>
    </body>

</html>